{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collège Caroline Aigle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'siteCollege/styles.css' %}" type="text/css" />
</head>
<body>
    <nav>
        <img src="{% static 'siteCollege/logoca.png' %}" width="100px" height="80px">
        <h1>Caroline Aigle</h1>
        <div class="onglets">
            <a href="{% url 'index' %}">Accueil</a>
            <!--Voir si on garde vraiment à propos dans la barre de navigation-->
            <a href="#apropos">À propos</a>
            <a href="https://cas.monbureaunumerique.fr/login?service=https%3A%2F%2Fwww.monbureaunumerique.fr%2Fsg.do%3FPROC%3DIDENTIFICATION_FRONT">Accès à l'ENT</a>
            <!--Voir si on garde contact dans la barre de navigation et si on la renvoie à en bas de la page
            <a href="#contact">Contact</a>-->
            <a href="{% url 'actions' %}">Actions</a>
            <div class="dropdown">
                <button class="dropbtn">Parcours
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'p_avenir' %}">Parcours Avenir</a>
                    <a href="{% url 'p_sante' %}">Parcours de Santé</a>
                    <a href="{% url 'p_edu_art_cult' %}">Parcours d'éducation Artistique et Culturelle</a>
                    <a href="{% url 'p_citoyen' %}">Parcours Citoyen</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Actualités
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'unss' %}">UNSS</a>
                    <a href="{% static 'siteCollege/La_Nouvelle_Plume_-_Numero_8_-_Sept_Oct_Nov_2022_1.pdf' %}" download="La_Nouvelle_Plume_-_Numero_8_-_Sept_Oct_Nov_2022_1.pdf">Journal - La Nouvelle Plume</a>
                    <a href="https://twitter.com/college_c_aigle">Twitter</a>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <h1>Caroline Aigle</h1>
        <h4>collège public</h4>
        <a href="C:\Users\Omen by HP\Documents\La_Nouvelle_Plume_-_Numero_8_-_Sept_Oct_Nov_2022_1.pdf" download="La_Nouvelle_Plume_-_Numero_8_-_Sept_Oct_Nov_2022_1.pdf">
            <button>Parcourir</button>
        </a>

    </header>
{% block content %}{% endblock %}
    <footer>

        <h1>À propos</h1>
        <div class="services">

            <div class="service">
                <h3>Livraison gratuite</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quidem recusandae explicabo veniam voluptatem voluptatum reprehenderit dignissimos ipsum magnam accusantium, dolores odio, dolorem provident sapiente consequuntur harum eaque veritatis? Eveniet.</p>
            </div>

            <div class="service">
                <h3>Paiement en ligne</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quidem recusandae explicabo veniam voluptatem voluptatum reprehenderit dignissimos ipsum magnam accusantium, dolores odio, dolorem provident sapiente consequuntur harum eaque veritatis? Eveniet.</p>
            </div>

            <div class="service">
                <h3>Aimé ou remboursé</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quidem recusandae explicabo veniam voluptatem voluptatum reprehenderit dignissimos ipsum magnam accusantium, dolores odio, dolorem provident sapiente consequuntur harum eaque veritatis? Eveniet.</p>
            </div>

        </div>

        <p id="piedsDePage">Collège Caroline Aigle | 4 Rue Jacques Peirotes 67000 Strasbourg<br>
        Contact : 03 88 35 21 81 | ce.0671742e@ac-strasbourg.fr</p>
        <a href="https://twitter.com/college_c_aigle?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="fr" data-show-count="false">Follow @college_c_aigle</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br><br>
        <a id="piedsDePage" href="#produits">CGU</a> |
        <a id="piedsDePage" href="#produits">Mentions légales</a>
    </footer>
</body>
</html>