{% extends 'siteCollege/base.html' %}
{% block content %}
<article class="flow">
  <h1>Parcours d'éducation Artistique et Culturelle</h1>
  <div class="team">
    <ul class="auto-grid" role="list">
      <li>
        <a href="https://swop.link/cool" target=_blank" class="profile">
          <h2 class="profile__name">Voyages</h2>
          <p>Sorties scolaires</p>
          <img src="https://source.unsplash.com/BhcutpohYwg/800x800" />
        </a>
      </li>
      <li>
        <a href="https://swop.link/cool" target=_blank" class="profile">
          <h2 class="profile__name">Sport</h2>
          <p>UNSS</p>
          <img src="https://source.unsplash.com/j5KAuRrYX7g/800x800" />
        </a>
      </li>
      <li>
        <a href="https://swop.link/cool" target=_blank" class="profile">
          <h2 class="profile__name">Art</h2>
          <p>Arts plastiques</p>
          <img src="https://source.unsplash.com/pQyIutdScOY/800x800" />
        </a>
      </li>
      <li>
        <a href="https://swop.link/cool" target=_blank" class="profile">
          <h2 class="profile__name">Musique</h2>
          <p>Chorale du collège</p>
          <img src="https://source.unsplash.com/55JRsxcAiWE/800x800" />
        </a>
      </li>
      <li>
        <a href="https://swop.link/cool" target=_blank" class="profile">
          <h2 class="profile__name">Lecture</h2>
          <p>CDI</p>
          <img src="https://source.unsplash.com/5wn6DeAEcmE/800x800" />
        </a>
      </li>
      <li>
        <a href="https://swop.link/cool" target=_blank" class="profile">
          <h2 class="profile__name">Un autre choix</h2>
          <p>Je sais pas</p>
          <img src="https://source.unsplash.com/7jCYw6a2Wao/800x800" />
        </a>
      </li>
    </ul>
  </div>
</article>
{% endblock %}